<div class="col-lg-4 col-md-6 col-sm-12 m-2">
  <div class="card">
    <div class="card-header">
      <p>Resources Script</p>
    </div>
    <div class="card-body">
      <p>Last Run at: <%= show_date_with_time(last_room_update_log.created_at) %></p>
      <div class="card-text mb-4">
        Status:
        <span
          class="<%= room_update_log_status(last_room_update_log.note) == 'error' ? 'text-danger' : 'text-success' %>">
          <%= last_room_update_log.note.include?('success') ? 'SUCCESS' : 'ERROR' %>
        </span>
      </div>

      <div class="card-text mb-4">
        Note:
        <% if room_update_log_status(last_room_update_log.note) == 'success' %>
          Resources updated successfully for rooms.
        <% elsif room_update_log_status(last_room_update_log.note) == 'success-partial' %>
          Resources updated successfully for rooms.
          <a class="text-primary" data-bs-toggle="collapse" href="#nonExistingRooms" role="button" aria-expanded="false" aria-controls="nonExistingRooms">
            These rooms
          </a>
          don't exist in WebCheckout.
          <div class="collapse" id="nonExistingRooms">
            <div class="card card-body">
              <%= last_room_update_log.note.split(':').last.strip %>
            </div>
          </div>
        <% elsif room_update_log_status(last_room_update_log.note) == 'error' %>
          An error occurred while updating resources for rooms. Please report an issue.
        <% end %>
      </div>
    </div>
  </div>
</div>
