<div class="container">

  <div class="row">
    <div class="col-md-8 col-lg-6 w-100">
      <!-- Heading -->
      <h1 class="text-start mt-6">About Room Ready Application</h1>
      <p class="text-start mt-6 ms-6">
          <% unless @about_page_announcement.nil? %>
            <%= @about_page_announcement.content %>
          <% end %>
      </p>
  </div>
  <div>
    <div class="d-grid w-25 mt-6 mb-8">
      <% if user_signed_in? %>
        <div>
          <%= button_to destroy_user_session_path, method: :delete, data: {turbo: "false"}, class: "btn btn-sign" do %>
            <span>Log Out</span>
          <% end %>
        </div>
      <% else %> 
        <div>
          <%= button_to "Sign in using Weblogin", user_saml_omniauth_authorize_path, data: {turbo: "false"}, class: "btn btn-sign" %>
        </div>
      <% end %>
  </div>
</div>
