<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-6 w-100">
      <!-- Heading -->
      <h1 class="text-start mt-6 ms-6">Admin Dashboard</h1>
      <p class="mt-2 w-75">
       Dashboard
    </p>
  </div>
</div>
