<p></p>

<h1>Announcements</h1>
<h2>New announcement</h2>

<%= render "form", announcement: @announcement %>

<br>

<h2>Announcement List</h2>
<div id="announcements">
  <%= render 'listing' %>
</div>
