<h1>Editing app preference</h1>

<%= render "form", app_preference: @app_preference %>

<br>

<div>
  <%= link_to "Show this app preference", @app_preference %> |
  <%= link_to "Back to app preferences", app_preferences_path %>
</div>
