<div class="px-5 py-3">
  <div class="mb-3">
    <h1>New App Preference</h1>
  </div>

  <%= turbo_frame_tag 'new_app_preference_form' do %>

    <%= render "form", app_preference: @app_preference %>

  <% end %>
</div>
