<div class="px-5 py-3">
  <div class="mb-3">
    <h1>New Specific Attribute</h1>
  </div>

  <%= turbo_frame_tag 'new_specific_attribute_form' do %>
    <%= render "form", specific_attribute: @specific_attribute %>
  <% end %>
</div>