<h1>Room tickets</h1>

<div id="room_tickets">
  <% @room_tickets.each do |room_ticket| %>
    <%= render room_ticket %>
  <% end %>
</div>

<%= link_to "New room ticket", new_room_room_ticket_path %>
