<%= render @room_ticket %>

<div>
  <%= link_to "Edit this room ticket", edit_room_ticket_path(@room_ticket) %> |
  <%= link_to "Back to room tickets", room_tickets_path %>

  <%= button_to "Destroy this room ticket", @room_ticket, method: :delete %>
</div>
