<p style="color: green"><%= notice %></p>

<h1>Specific attributes</h1>

<div id="specific_attributes">
  <% @specific_attributes.each do |specific_attribute| %>
    <%= render specific_attribute %>
    <p>
      <%= link_to "Show this specific attribute", specific_attribute %>
    </p>
  <% end %>
</div>

<%= link_to "New specific attribute", new_specific_attribute_path %>
