<h1>Editing room state</h1>

<%= render "form", room_state: @room_state %>

<br>

<div>
  <%= link_to "Show this room state", @room_state %> |
  <%= link_to "Back to room states", room_states_path %>
</div>
