<p style="color: green"><%= notice %></p>

<h1>Room states</h1>

<div id="room_states">
  <% @room_states.each do |room_state| %>
    <%= render room_state %>
    <p>
      <%= link_to "Show this room state", room_state %>
    </p>
  <% end %>
</div>

<%= link_to "New room state", new_room_state_path %>
