<footer class="footer mx-5 mt-auto py-3 bg-white">
  <div class="d-flex flex-lg-row justify-content-between flex-column">
    <div class="center text-center">
      <p class="d-none d-md-block">
        <%= image_tag 'LSA_Technology_logo.svg', alt: 'LSA Technology Logo', class: "img-fluid" %>
      </p>
      <p class="text-center footer-bold d-md-none">
        LSA Technology Services
      </p><!-- Left column content for small viewports -->
    </div>
    <div>
      <p class="text-center mb-0 small">
        <a href="https://umich.edu/about/privacy/" class="footer-text footer-link" >Privacy Notice</a> |
        <a href="https://umich.edu/about/privacy/" class="footer-text footer-link">Report an Issue</a> |
        <span class="footer-text">734.615.0100</span>
      </p>
    </div>
    <div>
      <p class="d-none d-md-block text-center footer-text">
        ©<%= Time.now.year %>
        <a href="https://regents.umich.edu/" class="footer-text footer-link">|The Regents of the University of Michigan</a>
      </p>
      <p class="d-md-none text-center mb-0 footer-text">
        <a href="https://regents.umich.edu/" class="footer-text footer-link" >The Regents of the University of Michigan</a>
        <br>©<%= Time.now.year %>
      </p><!-- Right column content -->
    </div>
  </div>
</footer>