<nav class="navbar navbar-expand-lg navbar-dark bg-um-blue">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <%= link_to root_path, class: "a-nav" do %>
      <div id="LSAlogo">
        <div class="navbar-brand"><%= image_tag 'LSA_Logo.svg', alt: 'LSA Logo' %></div>
        <span class="nav-title">
          Room Ready
        </span>
      </div>
    <% end %>
    <%= link_to "Home", home_path %>

    <div class="">
      <div class="d-flex align-items-center bg-um-blue">
        <% if user_signed_in? %>
          <div class="text-white body-sm-text pb-1">Welcome <%= current_user.display_name.split[0] %></div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
