<nav class="navbar navbar-expand-lg navbar-dark bg-um-blue">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div id="LSAlogo">
      <a class="navbar-brand" href="#"><%= image_tag 'LSA_Logo.svg', alt: 'LSA Logo' %></a>
      <div class="nav-title d-none d-lg-block">
        Evaluate
      </div>
    </div>


    <div id="avatar" class="avatar bg-warning me-5">
      <img src="..." alt="Login">
    </div>
  </div>
</nav>