<div id="<%= dom_id common_attribute %>">
  <p>
    <strong>Description:</strong>
    <%= common_attribute.description %>
  </p>

  <p>
    <strong>Need checkbox:</strong>
    <%= common_attribute.need_checkbox %>
  </p>

  <p>
    <strong>Need quantity box:</strong>
    <%= common_attribute.need_quantity_box %>
  </p>

</div>
