<div class="px-5 py-3">
  <h1>Common Attributes</h1>

  <div class="d-flex flex-column align-items-end">
    <%= link_to new_common_attribute_path, class: "btn btn-primary mb-3 gap-2" do %>
      <i class="fa-solid fa-plus"></i>
      Common Attribute
    <% end %>
  </div>

  <table class="table text-center">
    <thead class="table-group-divider">
    <tr>
      <th scope="col" class="text-start">Description</th>
      <th scope="col">Needs Checkbox?</th>
      <th scope="col">Needs Quantity Box?</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <div id="common_attributes">
      <% @common_attributes.each do |common_attribute| %>
        <%= render common_attribute %>
      <% end %>
    </div>
    </tbody>
  </table>
</div>



