<h2>Details</h2>
<%= render @building %>

<h2>Options</h2>
<div class="d-flex gap-2">
  <%= link_to "Back to buildings", zone_buildings_path, class: "btn btn-primary h-50 mt-auto mb-auto"  %>
  <%= link_to "Edit this building", edit_zone_building_path(@building[:zone_id], @building), class: "btn btn-warning h-50 mt-auto mb-auto"  %>
  <%= button_to "Destroy this building", @building, method: :delete, class: "btn btn-danger mt-auto mb-auto"  %>
</div>
