<div class="container d-flex flex-column mt-7" style="width: 100%; max-width: 600px;">
    <h5>Oops!</h5>
    <%= image_tag 'error_robot.svg', alt: 'Error Page', class: "img-fluid" %>
    <p>Error: 500</p>
  <div style="color: #6C757D; text-align: center; padding-bottom: 120px;">
    Go back to the <a href="/" style="color: #00274C;">homepage</a> or <a href="contact-link" class="um-blue ps-1">contact XX"</a>
  </div>
</div>