<!-- This file lives in app/views/errors/internal_server_error.html.erb -->
<div class="dialog">
  <div>
    <h1>We're sorry, but something went wrong.</h1>
  </div>
  <p>Try using navigation to get back on track<br>
    
    or go to the <a href="/" class="link_to">homepage</a>
    
    or <button id="myCustomTrigger" class="hover:underline px-1 footer-text footer-link border-0 bg-transparent p-0" data-email="<%= session&.[](:user_email) %>">Report an Issue</button>
    </p>
</div>
