<div class="container d-flex flex-column mt-7" style="width: 100%; max-width: 600px;">
    <h1>Oops!</h1>
    <%= image_tag 'error_robot.svg', alt: 'Error Page', class: "img-fluid", width: 235, height: 144 %>
    <p>Lorem ipsum dolor sit amet, vince adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
      voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  <div style="color: #6C757D; text-align: center; padding-bottom: 120px;">
    Go back to the <a href="/" style="color: #00274C;">homepage</a> or <a href="contact-link" class="um-blue ps-1">contact XX"</a>
  </div>
</div>