<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

  <body class="rails-default-error-page">
    <!-- This file lives in app/views/errors/not_found.html.erb -->
    <div class="dialog">
      <div>
        <h1>The page you were looking for doesn't exist.</h1>
        <p>You may have mistyped the address or the page may have moved.</p>
      </div>
      <p>Try using navigation to get back on track<br>
      
      or go to the <a href="/" class="link_to">homepage</a>
      
      or <button id="myCustomTrigger" class="hover:underline px-1 footer-text footer-link border-0 bg-transparent p-0" data-email="<%= session[:user_email]%>">Report an Issue</button></p>
    </div>
  </body>
</html>
