<table class="table text-center mt-3">
  <thead>
  <tr>
    <th scope="col" class="text-start">Description</th>
    <th scope="col">Needs Checkbox?</th>
    <th scope="col">Needs Quantity Box?</th>
  </tr>
  </thead>
  <tbody>
  <% specific_attributes.each do |specific_attribute| %>
    <tr>
      <td class="text-start"><%= specific_attribute.description %></td>
      <td>
        <% if specific_attribute.need_checkbox %>
          <i class="bi bi-check-circle-fill text-primary"></i>
        <% end %>
      </td>
      <td>
        <% if specific_attribute.need_quantity_box %>
          <i class="bi bi-check-circle-fill text-primary"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
