<h1>Editing resource state</h1>

<%= render "form", resource_state: @resource_state %>

<br>

<div>
  <%= link_to "Show this resource state", @resource_state %> |
  <%= link_to "Back to resource states", resource_states_path %>
</div>
