<p style="color: green"><%= notice %></p>

<h1>Resource states</h1>

<div id="resource_states">
  <% @resource_states.each do |resource_state| %>
    <%= render resource_state %>
    <p>
      <%= link_to "Show this resource state", resource_state %>
    </p>
  <% end %>
</div>

<%= link_to "New resource state", new_resource_state_path %>
