@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  height: 100%;
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #212529;
}

body {
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
  border-top: 1px solid $um_blue;
}

.footer-text-bold {
  font-weight: 700;
  color: $um_blue;
}
.footer-text {
  color: #212529;
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.footer-link {
  text-decoration: none;
}

h1 {
  font-family: Roboto;
  font-size: 45px;
  font-weight: 900;
  line-height: 54px;
  letter-spacing: 0em;
}

h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0em;
}

p {
  font-family: Noto Sans;
  font-size: 1rem; // 16px
  line-height: 1.5;
  color: #212529;
}

.body-md-text {
  font-size: 1rem;
  line-height: 1.5rem; 
  font-weight: 400; 
}

.body-sm-text {
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 400; 
}

/* Custom CSS to center-align h1 on small screens, considering Bootstrap's small breakpoint */
@media (max-width: 576px) {
  h1 {
    font-size: 1.75rem; // 28px
  }
}

#LSAlogo {
  display: flex;
  align-items: start; // Align items to the top of the container
  padding-left: 82px;

  .navbar-brand {
    margin-right: auto; // Pushes all subsequent siblings to the end of the flex container
  
  }

  .nav-title {
    position: relative;
    font-family: Noto Sans;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }
  
}

.a-nav{
  text-decoration: none;
  color: black;
}

.avatar {
  width: 50px; // 2 * radius for a diameter of 150px
  height: 50px; // 2 * radius for a diameter of 150px
  border-radius: 50%; // This creates the circular shape
  object-fit: cover; // Ensures the image fits within the circle
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; // Ensures no part of the image leaks outside the circular boundary
  // Optional: Add border, box-shadow, etc., as needed
}

.btn-sign {
  color: #00274c !important; 
  background-color: #FFCF01 !important; 
  // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05); 
}

.btn-sign:hover {
  background-color: #374151 !important;
  color: #93C5FD !important; 
}

.dropdown {
  border: $um_maize 2px outset;
  border-radius: 7px;
}

.bold{
  font-weight: 700;
}
/* FORMS */

form label.required:after {
  color: red;
  content: " *";
}

#error_explanation {
  background-color: $warning;
  border: solid $rigorous_red 1px;
  border-radius: 4px;
  padding: 20px;
  li {
    color: $rigorous_red;
    font-size: 1rem;
    padding-bottom: 2px;
  }
}

.field_with_errors {
  display: inline;
  label {
    color: $rigorous_red;
    max-width: 160px;
  }
  input, textarea, select {
    background: $warning;
  }
}

.flash {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 1.5rem; // Customize this value
  right: 0.5rem; // Customize this value
  padding: 1rem 1.25rem; // Equivalent to py-3 px-5
  border-radius: .5rem; // Similar to Bootstrap's rounded-lg
}

.flash_notice {
  background-color: $flash-notice-color;
}

.flash_alert {
  background-color: $flash-alert-color;
}

svg.wh6 {
  width: 24px;
  height: 24px;
}
