<div class="progress mb-3 w-50" role="progressbar" style="height: 20px;"
     aria-label="Rover form progress" aria-valuenow="<%= percentage %>>"
     aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: <%= percentage %>%"><%= percentage %>%</div>
</div>