<div id="<%= dom_id rover %>">
  <p>
    <strong>Uniqname:</strong>
    <%= rover.uniqname %>
  </p>

  <p>
    <strong>First Name:</strong>
    <%= rover.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= rover.last_name %>
  </p>

</div>
