<p style="color: green"><%= notice %></p>

<h1>Rovers</h1>

<div id="rovers">
  <% @rovers.each do |rover| %>
    <%= render rover %>
    <p>
      <%= link_to "Show this rover", rover %>
    </p>
  <% end %>
</div>

<%= link_to "New rover", new_rover_path %>
