<p style="color: green"><%= notice %></p>

<%= render "rover", rover: @rover %>

<div class="d-flex flex-row justify-content-start align-items-center gap-3">
  <%= link_to "Edit This Rover", edit_rover_path(@rover), class: "btn btn-primary btn-sm" %>
  <%= link_to "Back to Rovers", rovers_path, class: "link_to" %>
</div>
