<h1>Editing common attribute state</h1>

<%= render "form", common_attribute_state: @common_attribute_state %>

<br>

<div>
  <%= link_to "Show this common attribute state", @common_attribute_state %> |
  <%= link_to "Back to common attribute states", common_attribute_states_path %>
</div>
