<div class="d-flex flex-row align-items-center justify-content-between">
  <h1>ommon Attribute States Report</h1>
  <%= link_to 'Back to Reports', reports_path, class: "link_to" %>
</div>
<h6>This report shows the repsonses to the Common Questions in the Rover form.</h6>

<div class="py-3">
  <%= render 'filter_form', report_url: common_attribute_states_report_reports_path %>

  <% if params[:commit] && params[:format] == 'html' %>
    <%= render 'reports_table' %>
  <% end %>
</div>
