<div class="container-fluid">
  <h1>Reports</h1>
  <div class="row">
    <% @reports_list.each do |report| %>
      <div class="m-2" style="width: 18rem;">
        <div class="card">
          <div class="card-header">
            <p>
              <%= link_to report[:title], report[:url], class: "link_to" %>
            </p>
          </div>
          <div class="card-body">
            <p>
              <%= report[:description] %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
