<table class="table ms-3">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
  </tr>
  </thead>
  <tbody>
  <% resources.each do |resource| %>
    <tr>
      <td><%= resource.name %></td>
      <td><%= resource.resource_type %></td>
    </tr>
  <% end %>
  </tbody>
</table>
