<h1>New specific attribute state</h1>

<%= render "form", specific_attribute_state: @specific_attribute_state %>

<br>

<div>
  <%= link_to "Back to specific attribute states", specific_attribute_states_path %>
</div>
